.react-paging-search {
    --border: 1px solid #D4DDE8;
    --box-shadow: 0 2px 10px 0 rgba(191, 210, 235, 0.3);
    --transition: 0.1s;
    --padding: 8px;
    --background: #E4E9F2;
    --highlight-color: #37A7FF;
    position: relative;
    display: block;
    &, * {
        transition: var(--transition);
    }
    &.full-parent, .full-parent {
        width: 100%;
        height: 100%;
    }
    &.open {
        .input-container {
            box-shadow: var(--box-shadow);
            z-index: 201;
        }
        .result-ul-container {
            max-height: 300px;
            box-shadow: var(--box-shadow);
            -webkit-box-shadow: var(--box-shadow);
            overflow-y: auto;
        }
    }
    &.close {
        .result-ul-container {
            max-height: 0px;
            border-top: none;
            overflow: hidden;
        }
    }
    .flex {
        display: flex;
    }
    .input-container {
        border: var(--border);
        background: var(--background);
        &.focus {
            background: white;
        }
        input {
            background: transparent;
            outline: none;
            border: none;
            margin: 0;
            padding: 0 0 0 var(--padding);
        }
        .svg-container {
            position: relative;
            display: flex;
            height: 100%;
            .close {
                margin: auto 8px auto 0;
                height: 12px;
                cursor: pointer;
                &:active {
                    transform-origin: 50% 50%;
                    transform: rotate(15deg)
                }
            }
        }
    }
    .result-ul-container {
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        background: white;
        z-index: 100;
        width: 100%;
        transition: max-height var(--transition);
        -webkit-transition: max-height var(--transition); /* For Safari 3.1 to 6.0 */
        border: var(--border);
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            position: relative;
            padding: var(--padding);
            overflow-x: hidden;
            cursor: pointer;
            text-align: left;
            transition: var(--transition);
            &:hover, &.hover {
                background: var(--background);
            }
            &:not(:last-child):after {
                content: "";
                position: absolute;
                width: calc(100% - 2 * var(--padding));
                border-bottom: var(--border);
                bottom: 0;
                left: var(--padding);
            }
            p {
                display: inline;
                mark {
                    background: transparent;
                    color: var(--highlight-color);
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 4px; /* remove scrollbar space */
        background: transparent;
        margin-left: -4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
        background: rgba(#BBB, .3);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #BBB; 
    }
}